<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Registration Page</title>
    <style>
        form {
            margin: 0 auto;
            width: 250px;
        }
    </style>
</head>
<body>
<div class="container">
    <form class="text-center mt-5">
        <div class="container">
            <h1>Регистрация</h1>
            <p>Чтобы создать аккаунт, заполните все поля</p>
            <hr>


            <label for="fullName"><b>Имя пользователя</b></label>
            <label>
                <input type="text" placeholder="Введите ваше имя" name="fullName" id="fullName" required>
            </label>
            <label for="email"><b>Email</b></label>
            <label>
                <input type="text" placeholder="Введите email" name="email" id="email" required>
            </label>
            <label for="password"><b>Пароль</b></label>
            <label>
                <input type="text" placeholder="Придумайте пароль" name="password" id="password" required>
            </label>

            <button type="submit" id="register" class="btn btn-success">Зарегистрироваться</button>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/sidebar.js"></script>
<script type="text/javascript" src="/js/header.js"></script>
<script type="text/javascript" src="/js/footer.js"></script>
</body>
</html>

