<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tag</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--    <link rel="stylesheet" type="text/css" href="/css-tag.css">-->
</head>
<body>

<div class="container">
    <h1>Метки</h1>

    <div class="col-4">
        <p>
            Метка — это ключевое слово, позволяющее отнести ваш вопрос в одну категорию с другими похожими вопросами.
            Благодаря подбору правильных меток другие участники смогут проще найти ваш вопрос и быстрее дать на него
            ответ.
        </p>
    </div>

    <div>
        <a href="#">Показать все синонимы меток</a>
    </div>

    <br>

    <div class="d-flex justify-between flex-row" style="">
        <div class="col-3">
            <div class="col-3">
                <input id="tagfilter" class="s-input s-input__search h100 js-tag-filter" autocomplete="off" name="tagfilter"
                       type="text" maxlength="35" placeholder="&#128269; Фильтрация по имени" autofocus=""
                       style="width: 200px;">
            </div>
        </div>

        <div class="col-6"></div>

        <div class="col-2 mr-40 border btn-group" role="group" aria-label="Простой пример">
            <button type="button" class="border btn btn-light">Популярные</button>
            <button type="button" class="border btn btn-light">Имя</button>
            <button type="button" class="border btn btn-light">Новые</button>
        </div>

    </div>

    <br>
    <div class="card col-4">
        <div class="card-body">
            <div>
                <table class="table-borderless">
                    <tbody>
                    <tr>
                        <td colspan="4">
                            <table class="table mb-0 table-borderless">
                                <tr>
                                    <td>
                                        <button type="button" class="btn btn-info">JavaScript</button>
                                    </td>
                                    <!--                            <td><button type="button" style="background-color: #E1ECF4;">JavaScript</button></td>-->
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>JavaScript (не путать с Java) — динамический, интерпретируемый язык со слабой типизацией,
                            обычно используемый для написания...
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <table class="table mb-0 table-borderless">
                                <tr>
                                    <td>66315 вопросов</td>
                                    <td>20 задано сегодня, 86 за неделю</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <br>

    <nav aria-label="Пример навигации по страницам">
        <ul class="pagination justify-content-end">
            <li class="page-item disabled">
                <a class="page-link">Назад</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#">Далее</a></li>
        </ul>
    </nav>


</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="/js/sidebar.js"></script>
<script type="text/javascript" src="/js/header.js"></script>
<script type="text/javascript" src="/js/footer.js"></script>

</body>
</html>
